**Getting Started**
***Goals***
- Install Software Requirements for the labs
- Learn how to load the dataset
- Understand dataset structure

** Installing Software Requirements **

Here is a list of what you'll need:
- Python3 [download](https://www.python.org/downloads/)
- Pandas for data manipulation
- Numpy for computations
- Tensorflow and keras framework for Machine Learning
- Matplotlib for plottin

Once all the software requirements are install, load the following, and you should see the message "Successfully installed all required components" printed

In [54]:
import numpy as np
import tensorflow as tf
import keras
import pandas as pd
import matplotlib.pyplot as plt
import os
print("Successfully installed all required components")

Successfully installed all required components

**Loading the UCI Adultdataset**

In this tutorial, we will be interacting with the UCI Adult Dataset. We will be using in a local version of the dataset that we download from [here](https://archive.ics.uci.edu/ml/datasets/adult)

The dataset is currently stored into the "data/adult" local directory.

**Define dataset path in variables**

In [14]:
ADULT_DIRECTORY = os.path.join(os.getcwd(), 'data','adult')
ADULT_DATA_PATH = os.path.join(ADULT_DIRECTORY, 'adult.data')
ADULT_TEST_PATH = os.path.join(ADULT_DIRECTORY, 'adult.test')

In [41]:
COLUMN_NAMES = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", 
                "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "salary"]

** Load the datasets **

In [50]:
adult_data = pd.read_csv(ADULT_DATA_PATH, names=COLUMN_NAMES)
adult_test = pd.read_csv(ADULT_TEST_PATH, names=COLUMN_NAMES)

In [51]:
adult_data[:3]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [53]:
adult_test[1:5]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.